.container {
  box: vertical middle center;
  min-height: 100vh;
}

.login-form {
  display: inline-block;
  width: 320px;
}

.action-buttons {
  box: horizontal space-between;
  margin-bottom: 40px;
}
