// Modified stage-0

{
  "plugins": [
    [
      "transform-async-to-module-method",
      {
        "module": "bluebird-co",
        "method": "coroutine",
      },
    ],
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-do-expressions",
    "transform-exponentiation-operator",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-class-properties",
  ],
  "ignore": ["build/server.js"]
}
