{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "new-cap": 0,
    "no-console": 0,
    "no-constant-condition": 0,
    "no-underscore-dangle": 0
  },
  globals: {
    "CONFIG": false,
    "IS_CLIENT": false,
    "IS_SERVER": false,
  },
  "extends": "airbnb"
}
