{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "new-cap": 0,
    "no-console": 0,
    "no-constant-condition": 0
  },
  globals: {
    "__DEVELOPMENT__": false,
    "__PRODUCTION__": false,
    "__CONFIG__": false,
    "__CLIENT__": false,
    "__SERVER__": false,
    "__ASSETS__": false
  },
  "extends": "airbnb"
}
