.login {
  padding: 20px;
  display: inline-block;
  text-align: center;
  width: 320px;

  .fields {
    margin-bottom: 20px;
  }

  .social {
    margin-top: 30px;
    box: horizontal space-around;
  }
}

.container {
  box: vertical middle center;
  height: inherit;
}
