@font-face {
  font-family: social;
  src: url("../fonts/social.eot?4xg3h3");
  src:
    url("../fonts/social.eot?4xg3h3#iefix") format("embedded-opentype"),
    url("../fonts/social.ttf?4xg3h3") format("truetype"),
    url("../fonts/social.woff?4xg3h3") format("woff"),
    url("../fonts/social.svg?4xg3h3#social") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="social"],
[class*="social"] {
  font-family: social !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google::before {
  content: "\e900";
}

.icon-facebook::before {
  content: "\e901";
}

.icon-twitter::before {
  content: "\e902";
}

.icon-vk::before {
  content: "\e903";
}
