.operation-item {
  height: 68px;
  margin-bottom: 12px;
  padding: 10px 10px 10px 14px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box: horizontal left;
  position: relative;
}

.operation-item-edit {
  border-color: rgba(0, 0, 0, 0.45);
}

.operation-date {
  width: 15%;
  box: vertical;
}

.operation-category,
.operation-controls {
  margin-left: 12px;
  width: 30%;
  display: flex;

  & div {
    box-item: center;
  }
}

.operation-details {
  width: 55%;
  box: horizontal;
  margin-left: 12px;
}

.operation-transfer-account,
.operation-transfer-amount {
  box: vertical;
  width: 50%;

  & div {
    box-item: flex-auto;
    text-align: right;
  }
}

.operation-account,
.operation-amount {
  display: flex;
  text-align: right;
  width: 50%;

  & div {
    box-item: flex-auto center;
  }
}

.operation-transfer-amount,
.operation-amount {
  margin-left: 12px;
}

.operation-color-mark {
  width: 10px;
  height: 10px;
  top: -6px;
  left: -6px;
  position: absolute;
  border-radius: 10px;
}

.operation-color-mark-expense {
  background: #d9534f;
}

.operation-color-mark-income {
  background: #5cb85c;
}

.operation-color-mark-transfer {
  background: #31b0d5;
}

.operation-loading {
  box-item: center;
}
