html {
  font-size: 14px;
}

.wf-active body {
  font-family: "Noto Sans";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
